name: home_work_26
on: [push]
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: clone code
        uses: actions/checkout@v2
      - name: docker build
        run: docker build -t alexpetrovi4/flask-app:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
      - name: docker push
        run: docker push alexpetrovi4/flask-app:$GITHUB_REF_NAME-$GITHUB_RUN_ID

